<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Anuj. It uses weatherstack and mapbox api to get weather forecast.</p>
        <img class="potrait" src="images/robot.png">
    </div>

    {{>footer}}
</body>
</html>